@model Scooterki.Models.Scooters_table
 

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Scooter details</h4>
    <hr />
    <dl class="dl-horizontal">
        <table width="100%"><tr><td width="50%">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Power)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Power)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vmax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vmax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvilable)
        </dt>

        <dd>
            @if (Model.IsAvilable.Equals(0))
            {
                <font color="red">NO</font>
            }
            else
            {
                <font color="green">YES</font>
            }
        </dd>
        <dt>
            @if (Model.UserId!=null)
            {
                @Html.DisplayNameFor(model => model.UserId)
            }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        </td>
        <td width="100%">
        <dt>
            Picture
        </dt>

        <dd>
            <img src=@Html.DisplayFor(model => model.PictureSrc) height=300 width=auto>
        </dd>
        </td>
        </tr></table>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditScooter", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
